header {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
}
header h1 {
  font-family: "Ranga", sans-serif;
  margin: auto;
  line-height: 0.75;
  margin-left: 31vw;
  color:  #da3d09;
  text-shadow: 2px 2px #1dd3b0;
  letter-spacing: -6px;

}

#tony {
  font-size: 15vw;
  opacity: 0;
  animation: fade-in-up ease 1.5s forwards;
  animation-delay: 0.5s;

}
#monda {
  font-size: 20vw;
  opacity: 0;
  animation: fade-in-up ease 2s forwards;
  animation-delay: 0.8s;
}
