main {
  padding: 0 20vw 0 10vw;
  display: flex;
  flex-direction: row;
}

.scroll {
  padding-right: 10px;
  width: 40vw;
  margin-bottom: 50vw;
  flex-shrink: 3;
}

.content {
  padding: 5vh 0;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 50vw;
  height: 100vh;
}

.picture, .skills, .projects, .contact {
  position: absolute;
}

.content img {
  height: 300px;
  width: 99%;
  object-fit: cover;
  border: 1px solid #ffd700;
}

h3 {
  margin: 0 auto;
  margin-left: 4vw;
  font-family: "Yesteryear";
  font-size: 75px;
  color: #da3d09;
  text-shadow: 1px 1px turquoise;
  width: 100%;

  animation: fade-in-down ease 1.5s forwards;
}
p {
  font-family: "Quicksand";
  font-size: 15px;
  color: turquoise;

  line-height: 2;

  opacity: 0;
  animation: fade-in-down ease 3s forwards;
  animation-delay: 2s;
  margin: 5vh 0;
}
