.main {
  height: 100vh;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
}

.bio {
  padding: 10% 0 10% 10%;
  margin: 30vh 0;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.content {
  width: 50vw;
}
