.skills {
  display: flex;
  flex-direction: column;
  height: 92vh;
  width: 32vw;
}

.skillsList {
  display: flex;
  flex-direction: row;
  margin-left: 2vw;

}

.skillsIcons {
  display: flex;

  flex-wrap: wrap;

  color: #ffd700;
  text-shadow: 1px 1px  black;
  font-size: 55px;
  
  opacity: 0;
  animation: fade-in-down ease 1.5s forwards;
  animation-delay: 0.5s;

  justify-content: center;
}
.skillsNames {
  margin-left: 2vw;

  transform: scaleX(0);
  transform-origin: left;
  animation: grow-left ease 1s forwards;
  animation-delay: 0.5s;
}



.skillsIcons i {
  flex-shrink: 5;
  padding: 15px;
  /* margin: auto; */
  align-items: center;
  height: auto;
}

h4 {
  font-family: 'Quicksand';
  font-size: 1.5vw;
  color: gold;
}