.project {
  display: grid;
  grid-template-columns: 57vw 37vw;
  margin: 30px 0;
  margin-bottom: 60px;
}
.project-summary {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.project h4 {
  margin: 5px;
  color: gold;
  font-weight: 700;
  font-size: 22px;
}
.project i {
  padding: 10px;
}

.project video {
  width: 54vw;
  border: 2px solid white;
}

.video-container {
  position: relative;
  width: 54vw;
}
.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  position: absolute;
  /* width: 100%; */
  top: 0;
  background-color: white;
  opacity: .3;
}

.project p {
  color: gold;
  margin-left: 2em;
  margin-top: 0;
  margin-bottom: 1em;
  line-height: 1.2;
}