.contact {
  grid-row-start: 5;
  display: grid;
  grid-template-columns: 57vw 37vw;
  height: 100%;
  margin-bottom: 30px;
}


.contact form {
  margin-left: 2em;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
}

.contact-form input,
textarea {
  margin: 0.5em 0;
  padding: 0.6em;
  /* background-color: #8DE2E2; */
  /* font-weight: bold; */
  /* color: white; */
  font-family: "Quicksand";
  font-size: 16px;
  border-style: inset;
  border-color: #6ed8d8;
  resize: none;
}

#click {
  color: white;
  border-style: 1px;
  text-shadow: 0.5px 1px black;
  margin: 10px 0;
  width: 135px;
  align-self: center;
  padding: 10px;

  background: hsla(183, 57%, 53%, 1);

background: linear-gradient(90deg, hsla(183, 57%, 53%, 1) 0%, hsla(173, 72%, 52%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(183, 57%, 53%, 1) 0%, hsla(173, 72%, 52%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(183, 57%, 53%, 1) 0%, hsla(173, 72%, 52%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#41c4cb", endColorstr="#2cddc8", GradientType=1 );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#ED711E", endColorstr="#E9295C", GradientType=1 );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EBE663", endColorstr="#ED711E", GradientType=1 );
  background-size: 600% 600%;

  -webkit-animation: move-gradient 5s ease infinite;
  -moz-animation: move-gradient 5s ease infinite;
  animation: move-gradient 5s ease infinite;

  font-weight: bold;
  font-family: "Quicksand";

  border-radius: 5px;
  border-style: none;
  font-size: 15px;
}

#click:hover {
  text-emphasis: bold;
  cursor: pointer;
  color: black;
  text-shadow: 0.5px 0.5px turquoise;
}