.subtitle {
  align-items: center;
  background-color: #ffd700;
  padding: 0.5vw 1vw;
  display: flex;
  flex-direction: row-reverse;
}


.subtitle h2 {
  font-size: 18px;
  margin: 0;
  font-family: "Quicksand";
}

.subtitle-links {
  position: relative;
  z-index: 3000000;
}

/* .subtitleLinks i {
  font-size: 24.5px;
  color: black;
  text-decoration: none;
  padding-right: 2vw;
  padding-left: 0.5vw;
} */
