.subtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 55vw;
  background-color: #ffd700;
  margin-left: 10vw;
  padding: 0.5vw 1vw;
  transform: scaleX(0);
  transform-origin: left;
  animation: grow-left ease 1s forwards;
  animation-delay: 0.5s;
}

.subtitle h2 {
  margin: 0;
  font-family: "Quicksand";
  opacity: 0;
  animation: fade-in-down ease 1s forwards;
  animation-delay: 1.5s;
}
.subtitleLinks a {
  font-size: 2.5vw;
  color: black;
  text-decoration: none;
  padding: 0 1vw;
}

.subtitleLinks {
  opacity: 0;
  animation: fade-in-down ease 1s forwards;
  animation-delay: 1.5s;
}
