.subtitle {
  align-items: center;
  background-color: #ffd700;
  padding: 0.5vw 1vw;
  display: flex;
  flex-direction: row-reverse;
  transform: scaleX(0);
  transform-origin: left;
  animation: grow-left ease-in 0.5s forwards;
  animation-delay: 0.6s;
}


.subtitle h2 {
  font-size: 18px;
  margin: 0;
  font-family: "Quicksand";
  opacity: 0;
  animation: fade-in-down ease 1s forwards;

  animation-delay: 1.3s;
}

.subtitle-links {
  position: relative;
  z-index: 3000000;
}