.projectHeader {
  margin: 3px 0 10px 0;
  align-items: center;
  width: 80vw;
  background-color: #ffd700;
  padding: 0.5vw 1vw;
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.projectHeader h2 {
  font-size: 16px;
  margin: 0;
  font-family: "Quicksand";
}
.projectIcons i {
  font-size: 16px;
  color: black;
  text-decoration: none;
padding: 0 8px;
}
