@import url("https://fonts.googleapis.com/css2?family=Ranga&display=swap&family=Yesteryear&display=swap&family=Open+Sans:wght@300;400;600&family=Quicksand:wght@300;400;500;600;700&display=swap");

@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes grow-left {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes grow-up{
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@-webkit-keyframes move-gradient {
  0% {
    background-position: 48% 0%;
  }
  50% {
    background-position: 53% 100%;
  }
  100% {
    background-position: 48% 0%;
  }
}
@-moz-keyframes move-gradient {
  0% {
    background-position: 48% 0%;
  }
  50% {
    background-position: 53% 100%;
  }
  100% {
    background-position: 48% 0%;
  }
}
@keyframes move-gradient {
  0% {
    background-position: 48% 0%;
  }
  50% {
    background-position: 53% 100%;
  }
  100% {
    background-position: 48% 0%;
  }
}

.app {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  max-width: 100vw;
  margin: 0;
}

.main-container {
  display: grid;
  grid-template-columns: 60vw 1fr;
  height: 100vh;
  z-index: -1;
}

.column {
  position: relativw;
  grid-column-start: 2;
  grid-column-end: 3;
  width: 100%;
  height: 100vh;
  background: hsla(291, 35%, 15%, 1);
  background: linear-gradient(
    hsla(291, 35%, 15%, 1) 20%,
    hsla(3, 100%, 64%, 1) 80%
  );
  background: -moz-linear-gradient(
    hsla(291, 35%, 15%, 1) 20%,
    hsla(3, 100%, 64%, 1) 80%
  );
  background: -webkit-linear-gradient( 
    hsla(291, 35%, 15%, 1) 20%,
    hsla(3, 100%, 64%, 1) 80%
  );

  transform: scaleX(0);
  transform-origin: bottom;
  animation: grow-up 0.8s forwards;
  animation-delay: 0.5s;

}