nav {
  display: flex;
  justify-content: space-between;
  z-index: 100000;
  grid-column-start: 2;
}

nav a {
  align-self: center;
  font-family: "Quicksand";
  font-size: 2.3vw;
  font-weight: 600;
  color: white;
  text-decoration: none;
}
